<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-10">
            <h1>Lost and found</h1>
            <p>{{ tagline }}</p>
            <div class="home-search-panel text-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Hanapin ang iyong nawawalang gamit, alagang hayop at iba pa...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="searchItem()"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </span>
                </div>                
            </div>
            <h2>O</h2>
            <a class="btn btn-success">I-post ang nakita mong gamit, hayop at iba pa...</a>
        </div>
        <div class="col-md-2">
            Browse by:
            <button class="btn btn-info col-md-12 home-browse-btn">Location</button>
            <button class="btn btn-info col-md-12 home-browse-btn">Category</button>
            <button class="btn btn-info col-md-12 home-browse-btn">Date</button>
        </div>
    </div>
</div>
